.container {
    background-color: black;
    text-align: center;
    white-space: nowrap;
}
#nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
#id-inicio,#id-combos,#id-cartelera {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li {
    margin-right: 10px;
}

.carousel-image {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener el aspect ratio */
    object-fit: cover; /* Cubre el contenedor con la imagen */
    object-position: center; /* Centra la imagen dentro del contenedor */
}
.contenedorImagenCartelera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw; /* Ancho de 40vw */
    min-width: 480px; /* Mínimo ancho de 300px */
    height: auto;
    aspect-ratio: 16/9;
    position: relative; /* Agregamos posición relativa al contenedor */
    overflow: hidden; /* Recortar cualquier parte de la imagen que sobresalga del contenedor */
}
.btnA,.btnS {
    background-color: rgba(255, 255, 255, 0.197);
    color: rgb(0, 0, 0);
    height: 100%; /* El botón ocupa toda la altura del contenedor */
    width: 3.5vw; /* Ancho deseado para los botones */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 20px; /* Aplicamos el redondeo al contenedor padre */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}
.btnA {
    left: 0; /* Botón izquierdo */
}

.btnS {
    right: 0; /* Botón derecho */
}